 <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/4f92eb4e4b.js" crossorigin="anonymous"></script>
</body>
</html>