<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo">-->

<main class="container">
  <div
    class="d-flex h-100 justify-content-center align-items-center flex-column"
  >
    <div class="card w-">
      <div class="card-header">
        <h1 class="fs-4">Contact</h1>
      </div>
      <div class="card-body">
        <i class="fa-solid fa-phone"></i>
        <span>+14444444444</span>
      </div>
      <div class="card-body">
        <i class="fa-solid fa-envelope"></i>
        <span>me@mail.com</span>
      </div>
      <div class="card-body">
        <div class="mb-3 d-flex flex-column gap-2">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="__@mail.com"
          />
          <textarea
            placeholder="Information"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
          <button class="btn btn-outline-dark">Submit</button>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
